<nav class="navbar navbar-expand-xxl background-only">
    <div class="container-fluid">
      <img src="../../../assets/images/logo.png" alt="smart guys logo" width="30px" height="30px" class="ms-xxl-5">
      <span class="color-only fonts-architects-daughter">Brainiacs</span>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-xxl-end me-xxl-5" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link color-only" routerLink="/home">Home</a>
          <a class="nav-link color-only" routerLink="/smart-guys">List of smart guys</a>
          <a class="nav-link color-only">Help</a>
        </div>
      </div>
    </div>
</nav>