<td>{{ brainiac.id }}</td>
<td><img *ngIf="brainiac.avatarUrl" src="{{ brainiac.avatarUrl }}" alt="brainiac avatar" width="40px" height="40px"></td>
<td>{{ brainiac.firstName }}</td>
<td>{{ brainiac.lastName }}</td>
<td>{{ brainiac.email }}</td>
<td>
  <button type="button" (click)="editBrainiacEventEmitter(brainiac)" data-bs-toggle="modal" data-bs-target="#brainiacModal"><fa-icon [icon]="faPenToSquare"></fa-icon></button>
  <button type="button" (click)="deleteBrainiacEventEmitter(brainiac)"><fa-icon [icon]="faTrashCan"></fa-icon></button>
</td>