<div class="container-fluid">
    <div class="row row-margin-top">
        <div class="offset-lg-2 col-lg-8">
            <p>With this application <img src="../../../assets/images/favicon.ico" width="30xp" height="30px"> you can administer the data of people who are very smart.</p>
        </div>
    </div>

    <div class="row">
        <div class="offset-lg-2 col-lg-8">
            <p>The application enables you to :</p>
            <ul>
                <li>displaying users <fa-icon [icon]="faAddressCard" class="fa-2x"></fa-icon></li>
                <li>adding users <fa-icon [icon]="faUserPlus" class="fa-2x"></fa-icon></li>
                <li>deleting users <fa-icon [icon]="faUserMinus" class="fa-2x"></fa-icon></li>
            </ul>
        </div>
    </div>
</div>