<div class="container-fluid">
    <!-- icon with label -->
    <div class="row row-margin-top">
        <div class="offset-xxl-2 col-xxl-1">
            <fa-icon [icon]="faUserGroup"></fa-icon>
        </div>
        <div class="col-xxl-3">
            <h3>List of smart guys</h3>
        </div>
        <div class="col-xxl-2 offset-xxl-2">
            <button type="button" class="color-and-background" data-bs-toggle="modal" data-bs-target="#brainiacModal" (click)="addBrainiac()">
                <fa-icon [icon]="faPlus"></fa-icon>Add brainiac</button>
        </div>
    </div>

    <!-- table -->
    <div class="row">
      <div class="offset-xxl-2 col-xxl-8">
          <table class="table table-striped">
            <thead class="table-header">
              <tr>
                <th>Id</th>
                <th>Avatar</th>
                <th>First name</th>
                <th>Last name</th>
                <th>E-mail</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of itemsArray" app-smart-guy-row [brainiac]="item" (brainiacRowEventEmitter)="subscribeToBrainiacRowEvent($event)"></tr>
            </tbody>
          </table>
      </div>
    </div>

    <!-- errors for backend api -->
    <div class="row">
      <div class="offset-xxl-2 col-xxl-4">
          Errors from backend : 
      </div>
    </div>
    <div class="row">
      <div class="offset-xxl-2 col-xxl-7">
        <textarea name="errorsForTable" #errorsForTableId cols="70" rows="4" [value]="errorsForTableText" readonly></textarea>
      </div>
    </div>
    <div class="row">
      <div class="offset-xxl-2 col-xxl-4">
        <button type="button" (click)="clearBeckendErrors()" class="color-and-background"><fa-icon [icon]="faRectangleXmark"></fa-icon> Clear backend errors</button>
      </div>
    </div>

    <!-- add / edit brainiac modal -->
    <div class="modal fade" id="brainiacModal" tabindex="-1" aria-labelledby="brainiacModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="brainiacModalLabel">Add new brainiac</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form #brainiacForm="ngForm">
              <div class="form-group">
                <label for="firstName">First name <span class="mandatory-form-field">*</span></label>
                <input type="text" name="firstName" #firstNameModel="ngModel" [(ngModel)]="firstNameInput" class="form-control" placeholder="Enter last name" required>
              </div>
              <div *ngIf="firstNameModel.invalid && (firstNameModel.dirty || firstNameModel.touched)" class="mandatory-form-field">
                <div *ngIf="firstNameModel.errors?.['required']">
                  First name is required.
                </div>
              </div>

              <div class="form-group">
                <label for="lastName">Last name <span class="mandatory-form-field">*</span></label>
                <input type="text" name="lastName" #lastNameModel="ngModel" [(ngModel)]="lastNameInput" class="form-control" placeholder="Enter last name" required>
              </div>
              <div *ngIf="lastNameModel.invalid && (lastNameModel.dirty || lastNameModel.touched)" class="mandatory-form-field">
                <div *ngIf="lastNameModel.errors?.['required']">
                  Last name is required.
                </div>
              </div>

              <div class="form-group">
                <label for="email">Email <span class="mandatory-form-field">*</span></label>
                <input type="email" name="email" #emailModel="ngModel" [(ngModel)]="emailInput" class="form-control" placeholder="Enter last name" required>
              </div>
              <div *ngIf="emailModel.invalid && (emailModel.dirty || emailModel.touched)" class="mandatory-form-field">
                <div *ngIf="emailModel.errors?.['required']">
                  Email is required.
                </div>
              </div>

              <input type="hidden" name="id" [(ngModel)]="idInput">
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn table-header" data-bs-dismiss="modal" #myModalClose (click)="closeModalAddEdit(firstNameModel, lastNameModel, emailModel)">Close</button>
            <button type="button" class="btn color-and-background" (click)="saveBrainiac(brainiacForm.value)">Save</button>
          </div>
        </div>
      </div>
    </div>

</div>
